/* intuitivnější box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

.kalendar {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
	gap: 2px;
}

li {
	display: grid;
}

button {
	background-color: white;
	font-size: 15px;
	border: 2px solid lightgrey;
}